# What is a database?

*******a database is a collection of data stored in a computer system.*****

In [ ]:
According to Wikipedia:
A database is an organized collection of data, generally stored and accessed electronically from a computer system.

According to Oracle:
A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

In [ ]:
A database is typically controlled by a database management system (DBMS).

Q: What is a Database?
A: ***A database is an organized collection of data, generally stored and accessed electronically from a computer system.*** In simple terms, ***a database is a collection of data stored in a computer system.*** When you order a product on a commercial website, your order is stored in a database. You withdrew money from your bank account. Your bank stores this transaction in the database. Social media platforms such as Facebook, Instagram, Twitter use databases to store data like members, their friends, member activities, messages, advertisements, etc.

# DBMS EXAMPLES

# relational Database:
Oracle DAtabase,
Microsoft SQL Server,
Postgre SQL,
TERADATA,
IBMDB2,
MySQL,
SYBASE,
Access,
***SQLite,*** >> C language library
Hyper SQL,
# Non-relational Database:
Crospike,
Cassandra,
Clustrix,
Couchbase,
Amazon DynamoDB,
Apache HBASE,
IBM,
Mark Logic,
memsql,
MongoDB,
nuoDB,
Oracle NOSQL DATABASE,
Riak,
splice Machine,
TransAttice,
VoltDB

# What is in a database?

***The information inside the database is grouped into tables. A table in a database is called a database table. Tables are the basic unit of data storage in databases. We used the term structured data. Structured data here means table. A table consists of columns and rows.*** You may think of it as an Excel or Google spreadsheet. Although there are similarities between the database table and Excel/Google spreadsheet, they are different things.

# Anatomy of a Table

A table is made up of columns and rows. A column is a piece of data stored by the table. A row is a single set of columns that describe the attributes of a single thing. Columns should have a unique name. Columns and rows together make up a table.

In [ ]:
Tips:
In database world;
A ***column*** is also called a ***field or attribute,***
A ***row*** is also called a ***record or a tuple***,
A ***table*** is also called a ***relation.***

Column header names are written in lowercase, and there shouldn't be any space in a single name. Put an underscore between them. For instance, don't write "last name" as a header name, instead, write "last_name". Table names are also written in lowercase and without space (employees, customers, etc.)

Q: What is a table, column and row?
A: A table is an organized collection of data stored in the form of columns and rows. Columns can be categorized as vertical and rows as horizontal. The columns in a table are called fields while the rows can be referred to as records.

# Type of Databases

In [ ]:
Typically, there are two main database storage types:

Relational Database - SQL

Non-Relational Database - NoSQL

# Relational Database - SQL

A relational database is a type of database that stores and provides access to data points that are related to one another. Relational databases are based on the relational model, an intuitive, straightforward way of representing data in tables. In a relational database, each row in the table is a record with a unique ID called the key. The columns of the table hold attributes of the data, and each record usually has a value for each attribute, making it easy to establish the relationships among data points.

"relational database" was invented by E. F. Codd at IBM in 1970. Codd introduced the term in his research paper "A Relational Model of Data for Large Shared Data Banks"

***A software system used to maintain relational databases is called a Relational Database Management System (RDBMS).  Here are some examples of RDBMS:

***Amazon Aurora
Amazon RDS
Microsoft SQL Server 
Oracle Database
MySQL
IBM DB2
Maria DB
PostgreSQL
SQLite***

***SQL (stands for Structured Query Language) is accepted as the standard Relational Database Management System (RDBMS) language.***

***we usually prefer to call Relational Database as SQL and Non-Relational database as NoSQL. ***

Tips:
***SQLite is a relational database management system contained in a C library.*** 
***In contrast to many other database management systems, SQLite is not a clientâ€“server database engine. Rather, it is embedded into the end program. (Wikipedia)***

# Structured Query Language (SQL)

SQL stands for Structured Query Language and used to communicate with relational databases. ***SQL is a declarative language, not a procedural language.*** You write a single SQL declaration and hand it to the DBMS. The DBMS then executes internal code, which is hidden from us. SQL is **used to communicate with a database.** With SQL, you can **access or manipulate data stored in the database.**

Tips:
Declarative paradigm is where you say what you want without having to say how to do it. ***With procedural paradigm (used in JAVA, C), you have to specify exact steps to get the result. SQL is declarative than procedural since the queries don't specify steps to produce the result.***
***SQL in it's purest form is not a programming language, but a query language. Because, it needs to be able to perform loops and control structures. However, with some extensions, SQL can have looping and control structures but they exist outside or rather as an appendage to the original SQL spec. In this manner, some argue that SQL is a programming language.***

***There are different types of access. These are:

***Retrieval*** of data from the database***

***Insertion*** of new data into the database

***Updating*** the data in the database

***Deletion*** of data from the database

***A query is a statement *asking* for the retrieval of information from the database.

# SQL Language Elements

**SELECT first_name FROM employees; == statement
If we apply this SQL statement to our employees table, we get a single column that is first_name.

**SELECT, FROM words are keywords. They are special commands for SQL. first_name, employees are identifiers. SQL statements end with a semicolon (;).  SQL Language Elements is also called SQL Syntax.

# Check Yourself-1

In [ ]:
A 
database
  is a collection of data stored in a computer system.

Feedback
Your answer is correct.

The correct answer is:
A [database] is a collection of data stored in a computer system.

Question 2
Correct
Mark 1.00 out of 1.00
Not flaggedFlag question
Question text
In a Table, column header names are written in lowercase, and there shouldn't be any space in a single name.

Select one:
True 
False
Feedback
Congrats! You are right.

The correct answer is 'True'.
Question 3
Correct
Mark 1.00 out of 1.00
Not flaggedFlag question
Question text
A database can consist of one or more 
table
 .

Feedback
Your answer is correct.

The correct answer is:
A database can consist of one or more [table].

Question 4
Correct
Mark 1.00 out of 1.00
Not flaggedFlag question
Question text
Which of the following statements is incorrect about tables?

Select one:
Each table doesn't need to have a unique name Congrats! You are right.
Columns should have a unique name.
A table is made up of columns and rows.
Column header names are written in lowercase.
Feedback
Your answer is correct.

The correct answer is: Each table doesn't need to have a unique name
Question 5
Correct
Mark 1.00 out of 1.00
Not flaggedFlag question
Question text
SQL stands for:

Select one:
Structured Query Language Congrats! You are right.
Structured Question Language
Feedback
Your answer is correct.

The correct answer is: Structured Query Language
Question 6
Correct
Mark 1.00 out of 1.00
Not flaggedFlag question
Question text
A 
query
  is a statement asking for the retrieval of information from the database.

Feedback
Your answer is correct.

The correct answer is:
A [query] is a statement asking for the retrieval of information from the database.

Question 7
Correct
Mark 1.00 out of 1.00
Not flaggedFlag question
Question text
SELECT, FROM words, are keywords and they are special commands for SQL.

Select one:
True 
False
Feedback
Congrats! You are right.

The correct answer is 'True'.