# What is an aggregate function?

Aggregate functions are functions that take a collection of values as input and return a single value. SQL has five built-in aggregate functions:

COUNT (Count)
MIN (Minimum)
MAX (Maximum)
SUM (Total)
AVG (Average)

**Q: What is an aggregate function?
A: An aggregate function **performs operations on a collection of values to return a single scalar value.** Aggregate functions are often **used with the GROUP BY and HAVING clauses of the SELECT** statement.**

**SUM and AVG** functions must take only **numeric values* as input. However, the other functions **(MIN, MAX, COUNT)** may take **non-numeric values (strings, date, etc.)** as input other than numeric values.

**NULL means no data and is a special value. It shows us that a piece of information is unknown or missing or not applicable.** For instance, let's assume that we have a song database and **we don't know the writers of some of them.** We don't have that information. So, to store these unknown songwriters in a database table, we must use NULL. If a table has NULL value, then it will be displayed as NULL.

**Tips:
NULL value represents the unknown value or missing value or not applicable.
NULL is not equal to zero or empty string.
NULL is not equal to itself.**

# Introduction

We use COUNT function to **count the numbers of records (a.k.a row) in a table**.**Use COUNT keyword immediately after SELECT** keyword. **Then specify the column on which you want to operate.**

In [ ]:
SELECT COUNT(column_name)
FROM table_name;

SELECT COUNT(first_name)
FROM student_info;

COUNT(first_name)
-----------------
32

There is another special character returning the number of rows in a table. That is * character.  Use it inside the COUNT function as **COUNT(*).**

COUNT(first_name)
-----------------
32

If you notice that **the header of the output query is displayed as COUNT(first_name)**. However, we **can customize the header** using **AS keyword. AS is used to rename a column or table with an alias.**

 ***SELECT column_name AS alias_name
 
 **SELECT COUNT(first_name) AS count_of_students
FROM student_info;

An important point for **COUNT(*)** function is that the **result table includes NULL and duplicate values.**, **If you want the number of non-null values, use the syntax COUNT(column_name)**.

# COUNT DISTINCT

In some cases, **we may want unique values.** For instance, let's find how many different fields there are in the student_info table.

In [ ]:
SELECT COUNT(field) AS count_of_field
FROM student_info;

count_of_field
--------------
32

As you see that there are 32 fields. But, is that the correct number? Absolutely no. There are duplicate values. For instance, there is more than one student who enrolled in the course in the field of Data Science. **COUNT(field) counts the duplicate rows as separate rows.** So, we need to **use COUNT(DISTINCT column_name)** function here. **COUNT(DISTINCT field) returns the number of unique and non-null values in column field.**

**SELECT COUNT(DISTINCT field) AS count_of_field
FROM student_info;**

count_of_field
--------------
6

We can also **combine COUNT(DISTINCT) or COUNT() functions with WHERE** clause. 
Ex:display the number of students from Virginia.

SELECT COUNT(*) AS count_of_students
FROM student_info
WHERE state = 'Virginia';

count_of_students
-----------------
14