# MIN Function
MIN function **returns the minimum value** in the selected column.

**SELECT MIN(column_name)
FROM table_name;

The MIN function **ignores the NULL values.** Thus, it **retrieves the non-NULL minimum value in the selected column.**

**SELECT MIN(salary) AS lowest_salary
FROM employees;

lowest_salary
-------------
55000

We can also **combine MIN function with WHERE** clause.
**Display the female employee who gets paid the lowest. 

**SELECT MIN(salary) AS lowest_salary
FROM employees
WHERE gender = 'Female';

lowest_salary
-------------
67000


**You can use ORDER BY and LIMIT keywords to get the minimum value in a selected column. This will yield the same result as in the MIN function.

**Ex:The MIN function can also be used with dates. For instance, display the earliest hired employee's date.

**SELECT MIN(hire_date) AS earliest_date
FROM employees;

earliest_date
-------------
2017-11-24

# MAX Function

MAX function **returns the maximum value in the selected column.**

**SELECT MAX(column_name)
FROM table_name;

The MAX function **ignores the NULL values.

**SELECT MAX(salary) AS highest_salary
FROM employees;

highest_salary
-------------
110000

We can also **combine MAX function with WHERE** clause as we did in the MIN function.

**SELECT MAX(salary) AS highest_salary
FROM employees
WHERE gender = 'Male';

ighest_salary
-------------
110000

You **can use ORDER BY and LIMIT keywords to get the maximum value in a selected column. This will yield the same result as in the MAX function.

The MAX function can be used with dates. For instance, we can display the newest hired employee's date

In [ ]:
YILLARI BULMAK İÇİN:

In [ ]:
SELECT DISTINCT strftime("%Y", invoiceDate)
FROM invoices

In [ ]:
SELECT strftime("%Y", InvoiceDate) AS yillar, COUNT(strftime("%Y", InvoiceDate)) AS adet
FROM invoices
GROUP BY strftime("%Y", InvoiceDate);