# Introduction

It creates a new **result table based on the values in common columns from two or more tables.** INNER JOIN returns a table that **contains only matched rows** that meet the specified join conditions.

**SELECT columns
  FROM table_A
  INNER JOIN table_B ON join_conditions

**columns: Column names from table_A or table_B.
table_A, table_B: The names of the joined tables.
join_conditions: It specifies the conditions to evaluate for each pair of joined rows.

**A **join condition** generally takes the following form: **table_A.column = table_B.column.** The operator in this statement is **usually an equal sign (=), but **any comparison operator can also be used.**

**Tips:
Note the ON keyword for specifying the INNER JOIN condition.
Multiple join conditions can be written using AND or OR statements.

Ex: three or more tables can be combined using the INNER JOIN clause.

**SELECT columns
  FROM table_A
  INNER JOIN table_B 
    ON join_conditions1 AND join_conditions2
  INNER JOIN table_C
    ON join_conditions3 OR join_conditions4

**Q: What is inner join?
A: Retrieves records that have matching values in both tables involved in the join. 


**The intersection of the two tables represents the matching rows.

**Syntax

The INNER JOIN keyword selects all rows from both "employees" and "departments" tables as long as there is a match between the columns. If there are records in the "employees" table that do not have matches in "departments", these records are not shown in the output.

**SELECT
    employees.emp_id,
    employees.first_name,
    employees.last_name,
    departments.dept_name,
    departments.dept_id
  FROM employees
  INNER JOIN departments
    ON employees.emp_id = departments.emp_id;

emp_id  first_name  last_name	dept_name   dept_id
------  ----------  ---------   ----------  -------
17679   Robert      Gilmore     Operations  13        
26650   Elvis       Ritter      Marketing   14        
30840   David       Barrow      Operations  13        
51821   Linda       Foster      Operations  13        
67323   Lisa        Wiener      Marketing   14        
76589   Jason       Christian   Operations  13        
97927   Billie      Lanning     Technology  12