# Introduction

**In this JOIN statement, all the records of the left table and the **common records** of the right table are returned in the query. **If no matching** rows are found in the right table during the JOIN operation, these values are assigned as **NULL.**

**Tips:
**If no match is found for a particular row, **NULL** is returned.


**SELECT columns
  FROM table_A
  LEFT JOIN table_B ON join_conditions

**columns: Column names from table_A or table_B.
table_A, table_B: The names of the joined tables.
join_conditions: It specifies the conditions to evaluate for each pair of joined rows.

***LEFT JOIN and LEFT OUTER JOIN keywords are exactly the **same.** **OUTER** keyword is **optional.**

**SELECT columns
  FROM table_A
  LEFT **OUTER** JOIN table_B ON join_conditions

Example: 
To understand easily how LEFT JOIN works, we can use the following visual explanation. The shaded area represents **all rows in the "employees" table and all matching rows in the "departments" table.

**SELECT
    employees.emp_id,
    employees.first_name,
    employees.last_name,
    departments.dept_name,
    departments.dept_id
  FROM employees
  LEFT JOIN departments
    ON employees.emp_id = departments.emp_id;

emp_id      first_name  last_name   dept_name   dept_id   
----------  ----------  ----------  ----------  ----------
17679       Robert      Gilmore     Operations  13        
26650       Elvis       Ritter      Marketing   14        
30840       David       Barrow      Operations  13        
49714       Hugo        Forester    null        null
51821       Linda       Foster      Operations  13        
67323       Lisa        Wiener      Marketing   14        
70950       Rodney      Weaver      null        null                        
71329       Gayle       Meyer       null        null
76589       Jason       Christian   Operations  13        
97927       Billie      Lanning     Technology  12