# Introduction

In [ ]:
The SELECT statement is used to select data from a database.
You can retrieve rows from the columns of the table by using this statement. 
SELECT statement is used with FROM keyword.

**SELECT column_name(s) FROM table_name;

**By using this query, you explain to SQL that you want to see the data from a column/columns in the given table.

# Basic Syntax

**SELECT column_name(s) FROM table_name;

**SELECT and FROM words were written in uppercase, and the query ends with a semicolon.
SQL statements **start with a keyword like SELECT, INSERT, UPDATE, DELETE,** etc. and all the statements **end with a semicolon (;)**.
**The semicolon at the end indicates that the statement is completed and ready to be executed.**
SQL is also **case insensitive,** which means you can **use both SELECT and select** in your query. They mean the same thing for SQL.
Writing SQL commands in the **upper-case is the most common and preferred style.** But, you can write the same query in both ways

In [ ]:
select column_name(s) from table_name;
SELECT COLUMN_NAME(s) FROM TABLE_NAME;

**White spaces and empty lines are ignored in SQL.

In [1]:
SELECT                                  column_name(s) 

  FROM                       table_name;

SyntaxError: invalid syntax (<ipython-input-1-e0ee11da809e>, line 1)

Tip: To maintain your query clean and more readable, it's not recommended to use unnecessary empty lines and white spaces .

# Selecting Multiple Columns

**SELECT column1, column2 FROM table1;

# Selecting All Columns

**SELECT column1, column2, column3 FROM table1;

In [ ]:
The asterisk character “*” has special meaning in SQL.

To retrieve all of the information from your table, an asterisk (*) character can be used after the SELECT command.

**SELECT * FROM table1;

# Check Yourself-2