# Introduction

The **WHERE clause is used to *filter* records**.
 It allows you to **define a specific search condition** for the result set returned by a query.
 So, the result set only consists of the records that fulfill the predefined condition(s).

The WHERE clause is **mostly used with the SELECT** statement. In addition to the SELECT statement, it may also be used with some other statements like **DELETE and UPDATE.** It's **used in a query after the FROM clause**.

**SELECT column_name(s) FROM table_name WHERE condition(s);

**By using this query, you explain to SQL that *you only want to get the data that pass the defined condition(s)* as a result set.

Operators in the WHERE Clause
Operator	Description
=	Equal to
>	Greater than
<	Less than
>=	Greater than or equal
<=	Less than or equal
<>	Not equal. This operator may be written as != in some versions of SQL 
BETWEEN	Test if a value is between a certain range of values
**LIKE	Determine if a character string matches a predefined pattern**
**IN	Test whether or a value matches any value in a list**

If we want to select only the records of which grade is higher than 70 in the result set, then we should write a query like this.

 **SELECT * FROM student_table WHERE grade > 70

Example-1: You want to **see only the records of which lesson is Mathematics** in the result set.

**SELECT * FROM student_table WHERE lesson = "Mathematics";

In [ ]:
Example-2: select only the records of which grade is lower than 70 in the result set.

**SELECT * FROM student_table WHERE grade < 70

# LIMIT Clause

The LIMIT clause is **used to filter records.** It **constrains the number of rows returned by a query.** **Assume that your query returns one thousand rows. But you only want to see the first 10 rows** in the result set. In such cases, we use LIMIT clause to obtain the desired output.

**SELECT column_name(s) FROM table_name LIMIT number_rows;

Let's select all the columns of the student_table and return the first 3 rows.

**SELECT * FROM student_table LIMIT 3;

We can also **combine LIMIT with WHERE. LIMIT clause is placed after the WHERE clause.** **Let's select the students whose grade is higher than 70 and let our query return the first 2 rows.**

**SELECT * FROM student_table WHERE grade > 70 LIMIT 2;

# Check Yourself-4