# Order By Clause

SELECT statement returns records in an unspecified order. **In case you want to retrieve data in alphabetical or numeric order, we use ORDER BY keyword.**

The ORDER BY keyword sorts the result-set in descending or ascending order.  

***By default ORDER BY keyword sorts the records in ascending order.*** Use the keyword **DESC** to sort the records in **descending order.** You can also use **ASC** to sort the data in **ascending order.**

**SELECT column_name(s) FROM table_name ORDER BY column_name(s) ASC|DESC;

**"|" symbol means "use either ASC or DESC". If you don't use any of them, the default value is ASC (ascending order).

In [ ]:
Ex: I want to sort the first_name column in alphabetical order (A-Z).

**SELECT * FROM employees ORDER BY first_name ASC;

**Not only the first_name column is sorted,**but also other columns are affected** by the sort accordingly.

**SELECT * FROM employees ORDER BY first_name;

# Sorting in Descending Order

**SELECT * FROM employees ORDER BY first_name DESC;

Below is the query result. **Other columns are also affected.**

Tip: **When you sort the data, the original table's order is not affected.** Remember from the previous lessons that **a query returns a result table. Thus, we sort the result table, not the original one.**

**Ex:SELECT first_name, last_name, salary FROM employees ORDER BY salary DESC;

# Sorting By Multiple Columns

**To do this, separate the columns by a comma.

**SELECT column_name(s) FROM table_name ORDER BY column1 ASC|DESC, column2 ASC|DESC, columnN ASC|DESC;

**SELECT * FROM employees ORDER BY gender DESC;

Ex: Suppose that we also want to sort it by **first names.

**SELECT * FROM employees ORDER BY gender DESC, first_name ASC;

**In the above example, we first sorted the data by gender, then we sorted by first names.*

# ORDER BY Clause with WHERE Clause

**SELECT column_name(s) FROM table_name WHERE condition ORDER BY column_name(s)s ASC|DESC;

**ORDER BY clause is placed *after the WHERE* clause.

***to organize the code, not just horizontally, but also vertically.*** This is called **beautifying.**

**SELECT column_name(s)
FROM table_name
WHERE condition
ORDER BY column_name(s)s ASC|DESC;

In [ ]:
-------------------

Ex: Assume that we try to find the employees whose salary is higher than $80,000. Next, we will sort it by first_name in descending order.

In [ ]:
SELECT *
FROM employees
WHERE salary > 80000
ORDER BY first_name DESC;

We first returned the employees whose salary is higher than $80,000. Next, we sorted this by the first names in descending order.

In [ ]:
------------------

# Check Yourself-5

In [ ]:
1. SELECT first name, last name, salary
FROM employees
WHERE salary DESC;

In [ ]:
2.SELECT * FROM employees ORDER BY gender = Female, fist_name DESC;