# Introduction

The BETWEEN operator is **used for comparison in WHERE clauses.** It's a comparison operator. You can **use it to test if a value is in a range of values.** **If the value is in the specified range, the query returns all records fallen within that range.

**WHERE test_expression BETWEEN low_expression AND high_expression

****the BETWEEN operator is inclusive.**** **The above syntax can be written as follows:**

**WHERE test_expression >= low_expression AND test_expression <= high_expression

****Important: he BETWEEN operator is inclusive. To specify an exclusive range, use the greater than (>) and less than operators (<).

Ex: If we need to find the names of the employees with salary amounts between $80,000 and $90,000, we can use the BETWEEN comparison operator to write:

SELECT *
FROM employees
WHERE salary BETWEEN 80000 AND 90000;

You could also write the above query as follows:

SELECT *
FROM employees
WHERE salary >= 80000 AND salary <= 90000;

# NOT BETWEEN

We can **use NOT BETWEEN to negate the result of the BETWEEN operator.**

**WHERE test_expression NOT BETWEEN low_expression AND high_expression

Ex: you need to find the employees whose salary is not between $80,000 and $90,000. Here is the query:

SELECT *
FROM employees
WHERE salary NOT BETWEEN 80000 AND 90000;

OR

SELECT *
FROM employees
WHERE salary < 80000 OR salary > 90000;

# BETWEEN with Date Example

we **try to find employees who have joined the company from June 1, 2018 to March 31, 2019.** We also want to sort by hire date in ascending order.

****Important: Please enclose your date values with **single quote (')** and use **YYYY-MM-DD** date format in your query.***

SELECT * FROM employees
WHERE hire_date BETWEEN '2018-06-01' AND '2019-03-31'
ORDER BY hire_date;

In [ ]:
SELECT InvoiceDate 
FROM invoices 
WHERE InvoiceDate BETWEEN "2009-01-01" AND "2011-12-31"
ORDER BY InvoiceDate DESC LIMIT 1;

In [ ]:
Check Yourself-7