# Introduction

In [ ]:
The IN operator is used to determine whether a value matches any value in a list. We use IN operator with WHERE clause.

**WHERE column_name IN (value_list)

In [ ]:
SELECT *
FROM employees
WHERE job_title = 'Data Scientist'
OR
job_title = 'Business Analyst';

We may rewrite the query as follows:

SELECT *
FROM employees
WHERE job_title IN ('Data Scientist', 'Business Analyst');

# An Extended Value List

In [ ]:
SELECT *
FROM employees
WHERE job_title = 'Data Scientist'
OR
job_title = 'Business Analyst'
OR
job_title = 'Project Manager'
OR
job_title = 'Web Developer';

YA DA;

SELECT *
FROM employees
WHERE job_title IN ('Data Scientist', 'Business Analyst', 'Project Manager', 'Web Developer');

**Tip: If you have a query in which you use many OR operators, consider using the IN operator instead. This will make your query more readable.

# NOT IN Operator

You're building a team. You don't want to include Operations Director, HR Manager, and Sales Manager in the team.

If we know which values we don't want to include in a list, we can use NOT keyword with IN. NOT gives you the opposite results, anything that doesn't match the list. Use NOT just before IN operator.

SELECT *
FROM employees
WHERE job_title
NOT IN ('Operations Director', 'HR Manager', 'Sales Manager');

# Check Yourself-8