# Introduction

consider that you're trying to recall a student's county info from our student_info table. You know that the county's name starts with 'Wo'. In such cases, we use LIKE operator.

In [ ]:
SELECT column_name(s)
FROM table_name
WHERE column_1 LIKE pattern;

After LIKE keyword, we construct a pattern. SQL provides two special characters for constructing patterns.

Percent (%): The % character matches any sequence of zero or more characters.
Underscore ( _ ): The _ character matches any single character.

***Patterns are case insensitive. Uppercase characters do match lowercase characters or vice versa.

Patterns are written in single quotes.

**'Out%' pattern matches any string beginning with "Out" such as "Outro".
**'s%' pattern matches any string that starts with "s" such as "silk", "soup", etc.
**'%per%' pattern matches any string containing "per" such as "percentile" and "peeper". 
**'s_n' pattern matches "son", "sun", etc. 
**'__te' pattern matches "mate", "Kate", "kate", etc.***

In [ ]:
SELECT *
FROM student_info
WHERE county LIKE 'Wo%';

% wildcard matches with the letters 'od' in the Wood word. Remember that %wildcard matches any sequence of zero or more characters.

# Percent Character Example

The pattern is '%Developer'. Herein % wildcard will include all the characters before the word "Developer".

SELECT *
FROM student_info
WHERE field LIKE '%Developer';

We could write the pattern as **'%Developer%'**. This also returns the same result table.

LIKE operator is case-insensitive. That means instead of '%Developer', we can write '%developer', '%DEVELOPER' even '%DEveloper'. All those patterns will match "Back-End Developer" or "Front-End Developer".

***if you want to make LIKE operator case-sensitive, we need to use PRAGMA statement as follows:

**PRAGMA case_sensitive_like = true;***

PRAGMA case_sensitive_like = true;
SELECT *
FROM student_info
WHERE field LIKE '%developer';

# Underscore Character Example

The underscore _ wildcard **matches a single character.** Think of it as representing a single character. For instance, the following query finds the employee whose first_name is "Elvis".

SELECT first_name
FROM employees
WHERE first_name LIKE 'El_is';

Which first name the 'Li__a' pattern will match in the first name column? The answer is "Linda". Note that there are two underscore characters in the 'Li__a' pattern.